---
http_interactions:
- request:
    method: get
    uri: https://search.maven.org/solrsearch/select?q=jruby&rows=100&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Uri:
      - "/solrsearch/select?q=jruby&rows=100&wt=json"
      X-Query-String:
      - q=jruby&core=&start=&rows=100&wt=json
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1,"params":{"q":"jruby","core":"","defType":"dismax","qf":"text^20
        g^5 a^10","indent":"off","spellcheck":"true","fl":"id,g,a,latestVersion,p,ec,repositoryId,text,timestamp,versionCount","start":"","spellcheck.count":"5","sort":"score
        desc,timestamp desc,g asc,a asc","rows":"100","wt":"json","version":"2.2"}},"response":{"numFound":162,"start":0,"docs":[{"id":"org.jruby:jruby","g":"org.jruby","a":"jruby","latestVersion":"10.0.0.1","repositoryId":"central","p":"jar","timestamp":1746631617042,"versionCount":180,"text":["org.jruby","jruby","-sources.jar",".pom","-javadoc.jar",".jar"],"ec":["-sources.jar",".pom","-javadoc.jar",".jar"]},{"id":"com.sun.grizzly:jruby","g":"com.sun.grizzly","a":"jruby","latestVersion":"1.6.1","repositoryId":"central","p":"jar","timestamp":1312377655000,"versionCount":4,"text":["com.sun.grizzly","jruby","-sources.jar",".jar",".pom"],"ec":["-sources.jar",".jar",".pom"]},{"id":"jruby:jruby","g":"jruby","a":"jruby","latestVersion":"0.9.8","repositoryId":"central","p":"N/A","timestamp":1187720073000,"versionCount":1,"text":["jruby","jruby",".jar"],"ec":[".[...]
